html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.quiz-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

    .quiz-item h3 {
        margin: 0;
        font-size: 1.5em;
    }

    .quiz-item p {
        margin: 10px 0;
        font-size: 1em;
    }

    .quiz-item .btn {
        margin-top: 10px;
    }
