@model Quiz_App.Mapper.QuizResultViewModel

<h2>Quiz Result</h2>

<p>You scored: @Model.Score out of @Model.Quiz.Questions.Count</p>

<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
            <th>Fact</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userAnswer in Model.UserAnswers)
        {
            var question = Model.Quiz.Questions.FirstOrDefault(q => q.Id == userAnswer.QuestionId);
            var answer = question?.Answers.FirstOrDefault(a => a.Id == userAnswer.AnswerId);
            var correctAnswer = question?.Answers.FirstOrDefault(a => a.IsCorrect);

            <tr>
                <td>@question.Text</td>
                <td>@answer?.Text</td>
                <td>@correctAnswer?.Text</td>
                <td>@question?.Fact</td>
            </tr>
        }
    </tbody>
</table>
